@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #d9e1ff;
    font-family: 'Roboto', sans-serif;  
}

section.chat__section {
    width: 800px;
    max-width: 90%;
    background: #fff;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    zoom:0.75;
}

.brand {
    padding: 20px;
    background: #e9eafd;
    display: flex;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.brand h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #444;
    margin-left: 10px;
}

.message__area{
    height: 500px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 40px;
    border-radius: 5px;
}

textarea {
    width: 100%;
    border: none;
    padding: 20px;
    margin-bottom: 0px;
    font-size: 16px;
    outline: none;
    background: #f7f7ff;
    font-family: 'Roboto', sans-serif;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    resize: none;
    /* -webkit-box-shadow: 0px -4px 10px rgba(125, 123, 123, 0.75);
  -moz-box-shadow: 0px -4px 10px rgba(125, 123, 123, 0.75); */
  box-shadow: 0px -7px 10px 0px rgb(198 201 213 / 44%);
}

.message {
    padding: 20px; 
    border-radius: 4px; 
    margin-bottom: 40px;
    max-width: 300px;
    position: relative;
}

.incoming {
    background: #8F8BE8;
    color: #fff;  
}

.outgoing {
    background: #e9eafd;
    color: #787986;
    margin-left: auto;
}

.message h4 {
    position: absolute;
    top: -20px;
    left: 0;
    color: #333;
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8F8BE8;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9298ff;
  }
